/* Nav bar com boodstrap*/
/*Adicionar uma imagem de fundo*/
body {
    padding: 0;
    margin: 0;
    background-image:url("pexels-markus-spiske-177598.jpg"); 
}

nav {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #00ff;
    z-index: 99;

}
nav a {
    color: #fff;
    margin: auto 10px auto 20px;
    text-decoration: none;
    font-weight: bold;
    pointer-events: all;
}
nav li {
    float: left;
    list-style: none;
    margin-left: 20px;
    pointer-events: all;
}

nav .logo img{
    width: 280px;
    height: 80px;
    margin-top: 10px;
    pointer-events: all;

}

/*header*/
/*Imagem*/
header h2{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-top: 100px;
}
header p{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;

}
header button{
    background-color: #fff;
    color: #00ff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
}

/*BOX*/
.box {
    width: 100%;
    height: 100vh;
    background-image: url("img/box.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*footer */
footer {
    width: 100%;
    height: 100px;
    background-color: #00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 2%;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer h1{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
footer p{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
footer a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
